@import '~bootstrap/scss/bootstrap';

body {
  background-color: #FBFCF7;
}

h1 {
  color: #707070;
  text-align: center;
}

p {
  text-align: center;
}

.cells {
  border: 5px solid #CDCDCD;
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.container {
  border: 1px solid #CDCDCD;
}

#authorized {
  display: none;

  #gameBoard {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    margin: 10px auto;
    visibility: hidden;
    width: 75%;

    .cells {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
